<app-header (clearEvent)="clearList($event)"></app-header>
<div class="container">
	<ul class="todo-list">
		<!-- <ng-container *ngIf="todos"> -->
		<li *ngFor="let todo of todos" class="todo-list__item">
			<span class="todo-list__item-text">
				{{todo.text}}
			</span>
			<div class="buttons-group">
				<button class="btn btn-primary">Edit</button>
				<button class="btn btn-secondary" (click)="removeTodo(todo.text)">Remove</button>
			</div>
		</li>
		<!-- </ng-container> -->
	</ul>
</div>
<!-- /.container -->