@import "../../../styles.scss";

.header {
	padding: 2rem 0;
	position: sticky;
	top: 0;
	background: $white;
	.container {
		display: flex;
		align-items: center;
		border-bottom: 1px solid;
	}
	&__title {
		margin-right: 2rem;
	}
	.buttons-group {
		margin-left: auto;
	}
	&__back-link {
		position: relative;
		display: block;
		width: 3rem;
		height: 3rem;
		margin-left: auto;
		color: $black;
		transition: $transition;
		&:hover {
			transform: translateX(-0.5rem);
		}
		&::after,
		&::before {
			content: "";
			display: block;
			box-sizing: border-box;
			position: absolute;
		}
		&::after {
			width: 1.5rem;
			height: 1.5rem;
			border-bottom: 0.2rem solid;
			border-left: 0.2rem solid;
			transform: rotate(45deg);
			bottom: 0.7rem;
			left: 0.3rem;
		}
		&::before {
			width: 100%;
			height: 0.2rem;
			bottom: 1.3rem;
			background: currentColor;
			left: 0.2rem;
		}
	}
}
