<app-header></app-header>
<div class="container">
	<form [formGroup]="addTodoForm" (ngSubmit)="addTodo()" class="form">
		<textarea clas="form-control" formControlName="textarea"></textarea>
		<button type="submit" class="btn btn-primary">Add todo</button>
	</form>
	<div class="message-holder">
		<ng-container *ngIf="todoAdded">
			<h4>Todo <span>"{{this.text}}"</span> successfully added!</h4>
		</ng-container>
		<ng-container *ngIf="todoExist">
			<h4>Todo <span>"{{this.text}}"</span> <strong> already exist!</strong></h4>
		</ng-container>
	</div>
</div>
<!-- /.container -->